body {
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #000;
  background-size: cover;
  background-position: center;
  color: #fff;
}

#container {
  text-align: center;
}

#date {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-family: "Stoke", serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.message {
  font-size: 44px;
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: "Stoke", serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

#counter {
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-family: "Stoke", serif;
  font-weight: bold;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./img/photo-1657722297183-d2c39354e25a.jpeg');
  background-position-x: center;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 768px) {

  body {
    background-size: cover;
    overflow: auto;
  }
  .message {
    margin-top: 40px;
    font-size: 28px;
  };

  #date,
  #counter {
    font-size: 16px;
  }

  #image {
    max-width: 400px;
  }

  section {
    overflow: hidden;
  }

  .counter {
    padding: 20px;
    flex-wrap: wrap;
  }

  
}

